/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  font-size: 1.6rem;

  height: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
}
